<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wrist Style,Style your Future</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
	<style>
		.pagination-container {
  display: flex;
  justify-content: center; /* Center the pagination */
  margin: 20px 0; /* Add some margin above and below */
}

.pagination {
  display: flex;
  align-items: center; /* Align items vertically */
}

.pagination-link {
  text-decoration: none; /* Remove underline */
  color: #007bff; /* Bootstrap primary color */
  padding: 10px 15px; /* Add padding for better click area */
  border: 1px solid #007bff; /* Border color */
  border-radius: 5px; /* Rounded corners */
  margin: 0 5px; /* Space between links */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.pagination-link:hover {
  background-color: #007bff; /* Change background on hover */
  color: white; /* Change text color on hover */
}

.pagination-info {
  margin: 0 10px; /* Add some margin around the info text */
  font-weight: bold; /* Make the text bold */
}
	</style>

	<!-- Include jQuery and Bootstrap JS -->

  </head>

  <body class="goto-here">
	<div class="py-1 bg-black">
	<div class="container">
		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
			<div class="col-lg-12 d-block">
				<div class="row d-flex">
					<div class="col-md pr-4 d-flex topper align-items-center">
						<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						<span class="text">+ 1235 2355 98</span>
					</div>
					<div class="col-md pr-4 d-flex topper align-items-center">
						<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						<span class="text">youremail@email.com</span>
					</div>
					<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						<span class="text">3-5 Business days delivery &amp; Free Returns</span>
					</div>
				</div>
			</div>
		</div>
	  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
	  <a class="navbar-brand" href="index.html">Wrist Style</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="oi oi-menu"></span> Menu
	  </button>

	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
		  <li class="nav-item active"><a href="/shop" class="nav-link">Shop</a></li>
		  <li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
		  <div class="dropdown-menu" aria-labelledby="dropdown04">
			<a class="dropdown-item" href="/cart">Cart</a>
			<a class="dropdown-item" href="checkout.html">Checkout</a>
		  </div>
		</li>
		
		  <li class="nav-item dropdown">
			<% if (userId) { %>
			<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				account</a>
			<div class="dropdown-menu" aria-labelledby="profileDropdown">
				<a class="dropdown-item" href="/userProfile">Profile</a>
				<a class="dropdown-item" href="/logout">Logout</a>

				<%} else {%>
				<a class="nav-link dropdown-toggle" href="#" id="guestDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Account
			    </a>
				
				<div class="dropdown-menu" aria-labelledby="guestDropdown">
				<a class="dropdown-item" href="/login">Login</a>

				<a class="dropdown-item" href="/signup">Signup</a>
			</div>
				<% } %>
			
		</li>
		
			
		
         <%if(cartCount>0) {%>
		  <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span><%=[cartCount]%></a></li>
<%} else{ %>
	<li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
	<%}%>
		</ul>
	  </div>
	</div>
  </nav>
  <script>
	// Check if the user is logged in
	const userId = "<%= userId %>";
	if (userId) {
	  console.log("User is logged in with ID:", userId);
	  
	} else {
	  console.log("User is not logged in");
	}
  </script>
  
<!-- END nav -->

