



<%-include("../partials/admin/header")%>

<main class="content">
    <h2>Dashboard</h2>
    <!-- Add your dashboard content here -->
</main>
</div>
</div>

<%-include("../partials/admin/footer")%>